* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

headear {
    display: block;
    margin: 5px;
    border: 2px solid black;
    text-align: center;
}

.feed {
    width: 100%;
    margin: 2px solid black;
    padding-top: 5px;
    background-color: rgb(167, 167, 167);
}

.photo-box {
    background-color: white;
    margin: 5px auto;
    width: 400px;
}

.photo-title{
    float: left;
}

.photo-date{
    float: right;
    color: rgb(184, 184, 184);
    font-size: 10px;
}

img {
    display: block;
    width: 95%;
    height: 400px;
    margin: 0 auto;
}

.photo {
    object-fit: scale-down;
}