* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

headear {
    display: block;
    margin: 5px;
    border: 2px solid black;
    text-align: center;
}

.feed {
    width: 100%;
    border: 2px solid black;
    margin: 5px;
    padding-top: 5px;
    background-color: rgb(218, 218, 218);
}

.photo-box {
    background-color: white;
    margin: 10px auto;
    width: 400px;
}

.photo-title{
    font-weight: bold;
}

.photo-header{
    height: 20px;
    padding: 5px 3px;
    border-bottom: 0.5px solid grey;
}

.photo-date{
    float: right;
    color: rgb(184, 184, 184);
    font-size: 10px;
}

.photo {
    border-bottom: 0.5px solid grey;
}

.photo img {
    display: block;
    height: 450px;
    width: 100%;
    object-fit: scale-down;
}

.photo-desc {
    margin: 1px 0;
    padding: 5px 2px;
    font-size: 14px;
    font-weight: lighter;
}